@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navi: #888888;
    --grey-1: #56585b;
    --main-background: #ffffff;
    ---head-line: #555555;
    --section-high-light: #333333;
    --section-border: #f5f5f5;
    --head-line-title: #555555;
    --section-header: #cc0000;
    --white: #ffffff;
    --paragraph: #555555;
  }
  .dark {
    --navi: #888888;
    --grey-1: #56585b;
    --main-background: #333333;
    --head-line: #cccccc;
    --section-high-light: #fdfdfd;
    --section-border: #555555;
    --head-line-title: #a5a5a5;
    --section-header: #fdfdfd;
    --white: #ffffff;
    --paragraph: #a5a5a5;
  }
  .light-1 {
    --navi: #8b5b2f;
    --grey-1: #56585b;
    --main-background: #ffffff;
    --head-line: #cba886;
    --section-high-light: #333333;
    --section-border: #f5f5f5;
    --head-line-title: #8b5b2f;
    --section-header: #ac6f37;
    --white: #ffffff;
    --paragraph: #555555;
  }
  .light-2 {
    --navi: #666cb6;
    --grey-1: #56585b;
    --main-background: #ffffff;
    --head-line: #555555;
    --section-high-light: #585858;
    --section-border: #f5f5f5;
    --head-line-title: #555555;
    --section-header: #666cb6;
    --white: #ffffff;
    --paragraph: #333333;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
