@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --grey-2: #777777;
    --navi: #888888;
    --grey-1: #56585b;
    --light-grey: #dadada;
    --main-background: #ffffff;
    --head-line: #555555;
    --section-high-light: #333333;
    --section-border: #f5f5f5;
    --section-header: #cc0000;
    --section-header-background: #cba8861a;
    --head-line-title: #555555;
    --white: #ffffff;
    --paragraph: #555555;
    --gray-bg: #f3f4f6;
    --red-primary: #c1272d;
    --red-primary-50: #fff1ea;
    --text-secondary: #4b5563;
    --text-primary: #111827;
    --text-link: #3366ff;
    --stroke-neutral: #111827;
    --secondary-500: #fbba53;
    --secondary-100: #fef6dc;
    --border-color: #f3f4f6;
    --shape-neutral: #f3f4f6;
  }
  .dark {
    --grey-2: #777777;
    --navi: #888888;
    --grey-1: #56585b;
    --light-grey: #dadada;
    --main-background: #333333;
    --head-line: #cccccc;
    --section-high-light: #fdfdfd;
    --section-border: #555555;
    --section-header: #fdfdfd;
    --section-header-background: #555555cc;
    --head-line-title: #a5a5a5;
    --white: #ffffff;
    --paragraph: #a5a5a5;
    --gray-bg: #2e2e2e;
    --red-primary: #c1272d;
    --red-primary-50: #fff1ea;
    --text-secondary: #c9c9c9;
    --text-primary: #ffffff;
    --text-link: #3366ff;
    --stroke-neutral: #111827;
    --secondary-500: #fbba53;
    --secondary-100: #fef6dc;
    --border-color: #f9fafb;
    --shape-neutral: #f3f4f6;
  }
  .light-1 {
    --grey-2: #777777;
    --navi: #8b5b2f;
    --grey-1: #56585b;
    --main-background: #ffffff;
    --head-line: #cba886;
    --section-high-light: #333333;
    --section-border: #f5f5f5;
    --section-header: #ac6f37;
    --section-header-background: #cba8861a;
    --head-line-title: #8b5b2f;
    --white: #ffffff;
    --paragraph: #555555;
  }
  .light-2 {
    --grey-2: #777777;
    --navi: #666cb6;
    --grey-1: #56585b;
    --light-grey: #dadada;
    --main-background: #ffffff;
    --head-line: #555555;
    --section-high-light: #585858;
    --section-border: #f5f5f5;
    --section-header: #666cb6;
    --section-header-background: #666cb61a;
    --head-line-title: #555555;
    --white: #ffffff;
    --paragraph: #333333;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

.user-drawer .ant-drawer-body {
  padding: 0;
}

.user-drawer .ant-menu {
  height: 100%;
}

.menu-button {
  background-color: var(--main-background);
  color: var(--head-line);
  font-weight: bold;
  font-size: 16px;
  transition:
    background-color 0.4s,
    color 0.4s;
}

.menu-button:hover {
  background-color: var(--light-grey);
  color: var(--section-header);
}

.ant-drawer-content {
  background-color: var(--main-background) !important;
}
.ant-radio-label {
  color: var(--head-line);
}
@media screen and (max-width: 768px) {
  .advertise {
    display: none;
  }
}

.advertise {
  background: radial-gradient(69.92% 54.69% at 57.72% 18.12%, #ffffff 0%, #56585b 100%);
  height: 900px;
}

.ant-card {
  border-color: var(--head-line);
  border-width: 2px;
  background-color: var(--main-background) !important;
}

.ant-card-body {
  background: var(--main-background) !important;
}

.nextjs-progressbar {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 4px !important;
  background: #0d2442 !important;
  z-index: 9999 !important;
}

.input-search {
  box-shadow: none;
  &:focus-visible {
    outline: none !important;
    border: none;
    box-shadow: none !important;
  }
}

.icon-home path {
  fill: var(--text-primary);
}

.button-comment {
  border-color: var(--red-primary) !important;
  margin-bottom: 20px;
  &:hover {
    background-color: var(--red-primary) !important;
    color: white !important;
  }
}

.ant-tabs-tab-active div {
  color: var(--red-primary) !important;
  font-weight: 500;
}

.ant-tabs-tab div {
  color: var(--text-primary);
}
.ant-tabs-ink-bar {
  background-color: var(--red-primary) !important;
}

.login .ant-tabs-nav-list {
  width: 100%;
}

.login .ant-tabs-tab {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login input {
  &:focus-visible {
    background-color: var(--gray-bg) !important;
  }
  &:focus {
    background-color: var(--gray-bg) !important;
    box-shadow: none;
  }
}
